{% extends 'base.html' %}
{% block head %}
  <style>
  canvas, video{
    border: 1px solid gray;
  }
  </style>
{% endblock %}
{% block content %}
{% load static %}

<body>

<h1>撮影</h1>

<video id="camera" width="300" height="200" autoplay playsinline></video>
<canvas id="picture" width="300" height="200"></canvas>
<form>
  <button type="button" id="shutter">シャッター</button>
</form>


<script>
window.onload = () => {
  const video  = document.querySelector("#camera");
  const canvas = document.querySelector("#picture");

  /** カメラ設定 */
  const constraints = {
    audio: false,
    video: {
      width: 300,
      height: 200,
      facingMode: "user"
    }
  };

  navigator.mediaDevices.getUserMedia(constraints)
  .then( (stream) => {
    video.srcObject = stream;
    video.onloadedmetadata = (e) => {
      video.play();
    };
  })
  .catch( (err) => {
    console.log(err.name + ": " + err.message);
  });

   document.querySelector("#shutter").addEventListener("click", () => {
    const ctx = canvas.getContext("2d");

    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
  });
};
</script>
</body>
{% endblock %}
